@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;500;600;800&display=swap');

:root {
  --color-primary: #ffffff;
  --color-secondary: #457B9D;

  --color-button-text: #f3f3f3;

  --color-blue-100: #8ECAE6;
  --color-blue-200: #81c2e0;
  --color-blue-300: #66b8dd;
  --color-blue-400: #4db0de;
  --color-blue-500: #2aa5de;
  --color-blue-bold: #2b2d42;

  --color-red-100: #ffcccf;
  --color-red-200: #f57a83;
  --color-red-300: #e5545f;
  --color-red-400: #d7323f;
  --color-red-600: #dd2c39;

  --color-grey-100: #fcfcfc;
  --color-grey-200: #f1f1f1;
  --color-grey-300: #acacac;
  --color-grey-400: #8f8f8f;
  --color-grey-600: #707070;

  --color-accent-hover: #f3f3f3;
  --color-accent-disabled: #f3f3f3;
  --color-accent-muted: #b0b0b0;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.btn {
  @apply bg-primary border text-secondary p-2;
}
.btn-secondary {
  @apply bg-secondary text-primary p-2;
}
